Chapter3/StockTraderClient/Web References/StockTrader/StockTrader3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bluestonepartners.com/schemas/StockTrader/" xmlns:s1="http://www.bluestonepartners.com/Schemas/StockTrader/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.bluestonepartners.com/schemas/StockTrader/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bluestonepartners.com/schemas/StockTrader/">
      <s:import namespace="http://www.bluestonepartners.com/Schemas/StockTrader/" />
      <s:element name="RequestQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Quote" type="s1:Quote" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bluestonepartners.com/Schemas/StockTrader/">
      <s:complexType name="Quote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="High" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Low" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Open" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Last" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Change" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PercentChange" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Previous_Close" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="High_52_Week" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Low_52_Week" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:RequestQuote" />
  </wsdl:message>
  <wsdl:message name="RequestQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:RequestQuoteResponse" />
  </wsdl:message>
  <wsdl:portType name="StockTraderSoap">
    <wsdl:operation name="RequestQuote">
      <wsdl:input message="tns:RequestQuoteSoapIn" />
      <wsdl:output message="tns:RequestQuoteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockTraderSoap" type="tns:StockTraderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestQuote">
      <soap:operation soapAction="http://www.bluestonepartners.com/schemas/StockTrader/RequestQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockTraderSoap12" type="tns:StockTraderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestQuote">
      <soap12:operation soapAction="http://www.bluestonepartners.com/schemas/StockTrader/RequestQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockTrader">
    <wsdl:port name="StockTraderSoap" binding="tns:StockTraderSoap">
      <soap:address location="http://localhost/StockTrader/StockTrader.asmx" />
    </wsdl:port>
    <wsdl:port name="StockTraderSoap12" binding="tns:StockTraderSoap12">
      <soap12:address location="http://localhost/StockTrader/StockTrader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>