Chapter2/WSDL + XSD + Classes/StockTrader.wsdl

<?xml version="1.0" ?> 
 <wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bluestonepartners.com/schemas/StockTrader/" xmlns:s1="http://www.bluestonepartners.com/Schemas/StockTrader/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.bluestonepartners.com/schemas/StockTrader/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
 <s:schema elementFormDefault="qualified" targetNamespace="http://www.bluestonepartners.com/schemas/StockTrader/">
  <s:import namespace="http://www.bluestonepartners.com/Schemas/StockTrader/" /> 
 <s:element name="RequestQuote">
 <s:complexType>
 <s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" /> 
  </s:sequence>
  </s:complexType>
  </s:element>
 <s:element name="RequestQuoteResponse">
 <s:complexType>
 <s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="Quote" type="s1:Quote" /> 
  </s:sequence>
  </s:complexType>
  </s:element>
  </s:schema>
  </wsdl:types>
 <wsdl:message name="RequestQuoteSoapIn">
  <wsdl:part name="parameters" element="tns:RequestQuote" /> 
  </wsdl:message>
 <wsdl:message name="RequestQuoteSoapOut">
  <wsdl:part name="parameters" element="tns:RequestQuoteResponse" /> 
  </wsdl:message>
 <wsdl:portType name="StockTrader3Soap">
 <wsdl:operation name="RequestQuote">
  <wsdl:input message="tns:RequestQuoteSoapIn" /> 
  <wsdl:output message="tns:RequestQuoteSoapOut" /> 
  </wsdl:operation>
  </wsdl:portType>
 <wsdl:binding name="StockTrader3Soap" type="tns:StockTrader3Soap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
 <wsdl:operation name="RequestQuote">
  <soap:operation soapAction="http://www.bluestonepartners.com/schemas/StockTrader/RequestQuote" style="document" /> 
 <wsdl:input>
  <soap:body use="literal" /> 
  </wsdl:input>
 <wsdl:output>
  <soap:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
 <wsdl:binding name="StockTrader3Soap12" type="tns:StockTrader3Soap">
  <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" /> 
 <wsdl:operation name="RequestQuote">
  <soap12:operation soapAction="http://www.bluestonepartners.com/schemas/StockTrader/RequestQuote" style="document" /> 
 <wsdl:input>
  <soap12:body use="literal" /> 
  </wsdl:input>
 <wsdl:output>
  <soap12:body use="literal" /> 
  </wsdl:output>
  </wsdl:operation>
  </wsdl:binding>
 <wsdl:service name="StockTrader3">
 <wsdl:port name="StockTrader3Soap" binding="tns:StockTrader3Soap">
  <soap:address location="http://localhost/StockTrader/StockTrader3.asmx" /> 
  </wsdl:port>
 <wsdl:port name="StockTrader3Soap12" binding="tns:StockTrader3Soap12">
  <soap12:address location="http://localhost/StockTrader/StockTrader3.asmx" /> 
  </wsdl:port>
  </wsdl:service>
  </wsdl:definitions>